<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title.window}">No page</title>
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.min.css" th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="row text-center text-danger">
        <h3>This is a</h3>
        <h1 style="font-size: 50px">BIG</h1>
        <h1 style="font-size: 100px">FAT</h1>
        <h1><span style="color:red; font-size: 300px">404</span></h1>
        <h1 style="font-size: 50px">Error...<span style="font-size: small"> sorry for any inconvinience :)</span></h1>
    </div>
</body>
</html>