<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{title.window}">WindowTitle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-2">
        <h1 align="center" th:text="#{title.page}">Page Title</h1>
    </div>
    <div class="col-xs-12 col-sm-8 row-table-error">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">Game Wish-List</th>
                </tr>
                <tr>
                    <th>Game Name</th>
                    <th>Requisite to buy</th>
                    <th>Already Fulfilled</th>
                    <th>Responsible</th>
                </tr>
            </thead>
            <tbody th:each="wish : ${wishes}">
                <tr>
                    <td style="text-align: center;">
                        <span th:text="${wish.game.name}" style="float:left;">A really long game name</span>
                        <a href="#" th:href="|@{/gtb/wish/}${wish.game.id}|"><img class="thumbnail-img" src="../../static/img/xcom2.jpg" th:src="@{/img/}+${wish.game.imgName}" alt="No image available"/></a>
                    </td>
                    <td th:text="${wish.requirement}">Description of the requisite to buy the game</td>
                    <td style="text-align: center">
                        <span class="label label-success" th:if="${wish.fulfilled}">Yes</span>
                        <span class="label label-danger" th:if="${not wish.fulfilled}">No</span>
                    </td>
                    <td th:text="${wish.responsible}">Responsible for buying the game</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>