.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
}

.custom-img{
    width: 180px;
    height: 115px;
}

.thumbnail-img{
    width: 60px;
    height: 30px;
    float: right;
}

.row-table-error {
    margin: 0px auto;
    padding: 20px 50px;
}

p {
    text-align: justify;
}

td:first-child {
    width: 20%;
}